<h3> Look up a single crypto currency symbol </h3>
<br />

<%= form_tag home_lookup_path, :method => 'POST' do %>
  <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
  <%= submit_tag 'Look up stock quote' %>
<% end %>

<br />
<br />

<%= @symbol %>

<%if @symbol %>

<% for x in @lookup_coin %>
    <% if @symbol == x['symbol'] %>
      <%= x['name'] %>: $<%= x['price_usd'] %><br />
      Rank: <%= x['rank'] %><br /></br />
    <% end %>
<% end %>

<% end %>
